/*---------------------------------------------backGrid------------------------------------------------*/
/*----------версия:1.00--начало разработки:08.08.2017-автор Григорий Хмельницкий-----------------------*/
/*----------ver:1.00--the beginning of the development:08.08.2017-author Gregory Khmelnitsky-----------*/
/*-----------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------*/





/*-------------------------------------------------------------------------------------------------*/
/*-----------------------------------global settings-----------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/

html{
    font-size: 18px;
    margin: 0;
    padding: 0;
}

/*-------------------------------------------------------------------------------------------------*/
/*-----------------------------------rows class----------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.container{
    width: 70%;
    margin-left: 15%;
    height: auto;
}
.row{
    grid-template-rows: 1fr;
}




/*-------------------------------------------------------------------------------------------------*/
/*-----------------------------------columns class-------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10{
    display: grid;
    grid-column-gap: 15px;
    width: auto;
    min-width: 194px;
    }

.col-1{
    grid-template-columns: 1fr;
}
.col-2{
    grid-template-columns: 1fr 1fr;
}
.col-3{
    grid-template-columns: repeat(3, 1fr);
}
.col-4{
    grid-template-columns: repeat(4, 1fr);
}
.col-5{
    grid-template-columns: repeat(5, 1fr);

}
.col-6{
    grid-template-columns: repeat(6, 1fr);
}
.col-7{
    grid-template-columns: repeat(7, 1fr);
}
.col-8{
    grid-template-columns: repeat(8, 1fr);
}
.col-9{
    grid-template-columns: repeat(9, 1fr);
}
.col-10{
    grid-template-columns: repeat(10, 1fr);
}

.col-1-1{
    grid-column: 1 / 2;
}
.col-1-2{
    grid-column: 2 / 3;
}
.col-1-3{
    grid-column: 3 / 4;
}
.col-1-4{
    grid-column: 4 / 5;
}
.col-1-5{
    grid-column: 5 / 6;
}
.col-1-6{
    grid-column: 6 / 7;
}
.col-1-7{
    grid-column: 7 / 8;
}
.col-1-8{
    grid-column: 8 / 9;
}
.col-1-9{
    grid-column: 9 / 10;
}
.col-1-10{
    grid-column: 10 / 11;
}
























/*-------------------------------------------------------------------------------------------------*/
/*-----------------------------------alignment class-------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.g-start{
    justify-items: start;
}
.g-center{
    justify-items: center;
}
.g-end{
    justify-items: end;
}

.v-top{
    align-items: start;
    padding-top: 0;
}
.v-center{
    align-items: center;
    text-align: center;
}
.v-bottom{
    align-items: end;
    padding-bottom: 0;
}




















